* {
    margin: 2;
    padding: 3;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #141f38;
    color: #f4f6fa;
}

.normal {
    min-height: 4vh;
    background: linear-gradient(135deg, #020616, #25334b);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.normal h1 {
    font-size: 2.5rem;
    color: #35baf3;
}

.tags {
    margin-top: 10px;
    font-size: 1rem;
    color: #bac5f0;
}

.location {
    margin-top: 8px;
    color: #919fb4;
    font-size: 1.5rem;
}

.primary {
    display: inline-block;
    padding: 15px 25px;
    margin: 5px;
    border-radius: 30px;
    background: #3ab8ee;
    color: #020617;
    text-decoration: none;
    font-weight: 600;
}

.navbar {
    position: sticky;
    top: 0;
    background: #020617;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
    z-index: 10;
}

.nav-brand {
    font-weight: 700;
    color: #38bdf8;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 24px;
}

.nav-links a {
    color: #e5e7eb;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 4px;
    background: #38bdf8;
    border-radius: 5px;
}

.section {
    padding: 75px 20px;
}

.dark {
    background: #020617;
}

.container {
    max-width: 1100px;
    margin: auto;
}

h2 {
    color: #38bdf8;
    margin-bottom: 20px;
}

.company-card, .sub-card, .project-card, .contact-card {
    background: #0f172a;
    padding: 20px;
    border-radius: 13px;
    margin-top: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 21px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.skills-grid span {
    background: #0e1627;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.6s ease;
}

.skills-grid span:hover {
    transform: rotateY(360deg) scale(1.5);
}


@media (max-width: 770px) {
    .nav-links {
        position: absolute;
        top: 65px;
        right: 0;
        background: #03081d;
        flex-direction: column;
        width: 100%;
        text-align: center;
        display: none;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

.company-card,
.sub-card,
.project-card,
.contact-card {
    transition: trabsform 0.4s, box-shadow 0.4s ease;

}
.company-card:hover,
.sub-card:hover,
.project-card:hover,
.contact-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(56, 189, 248, 0.25)
} 



